<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>

    <script src="https://use.fontawesome.com/a94c98b4be.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="errors">
        {% if messages %}
          {% for msg in messages %}
            <p>{{msg}}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-7 col-sm-offset-3 col-md-4 col-md-offset-6 col-lg-2 col-lg-offset-8">
          <h2><img src="{{data.current_user.profile_pic.thumbnail.url}}" alt="">  {{data.current_user.username}}</h2>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
          <form class="" action="{% url 'login_ns:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="" value="Log Out" class='btn btn-danger'>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form class="" action="{% url 'memes_ns:add_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="meme_post" value="">
            <label for="post_title">Title:</label>
            <input type="text" name="post_title" value="">
            <label for="category">Category:</label>
            <select class="" name="category">
              <option value="f">Funny</option>
              <option value="p">Political</option>
              <option value="r">Reality</option>

            </select>
            <input type="submit" name="" value="Post">
          </form>
        </div>
      </div>



    </div>
  </body>
</html>
